springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

server:
  port: 8383

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/authdb
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: mySuperSecretKeyForJwtTokenDontHardcode
  access-token-expiration: 900000
  refresh-token-expiration: 604800000
