server:
  port: 8383

spring:
  datasource:
    url: jdbc:postgresql://db.niyuhzarepgjzjtjcczf.supabase.co:5432/postgres
    username: postgres
    password: Vijay@#1234@#
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: mySuperSecretKeyForJwtTokenDontHardcode123456
  access-token-expiration: 900000
  refresh-token-expiration: 604800000

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
